:root {
  --color-main-bg: #303030;
  --color-dark-bg: #212121;
  --color-main-border: #424242;
  --color-main-font: #f5f5f5;
  --color-pink: #ff678e;
  --color-blue: #4fd5ff;
  --color-link: #ffb74d;
  --font-main-family: sans-serif;
  --size-main-base: 5mm;
  --size-main-half: calc(var(--size-main-base) / 2);
  --size-main-2x: calc(var(--size-main-base) * 2);
  --size-main-3x: calc(var(--size-main-base) * 3);
}

html,
body,
div,
header,
nav,
ul,
li,
p,
span,
a {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-size: var(--size-main-base);
  font-family: var(--font-main-family);
  color: var(--color-main-font);
  background-color: var(--color-main-bg);
  display: flex;
  flex-direction: column;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}

a:focus {
  color: var(--color-pink);
  text-decoration: underline;
}

header {
  background-color: var(--color-dark-bg);
}

header div.container-fit {
  background-color: var(--color-dark-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--size-main-3x);
}

header a {
  display: flex;
  align-items: center;
  height: var(--size-main-3x);
  color: var(--color-main-font);
}

a#logo > div {
  width: var(--size-main-3x);
  height: var(--size-main-3x);
  display: flex;
  justify-content: center;
  align-items: center;
}

a#logo img {
  height: var(--size-main-2x);
}

a#logo p {
  position: relative;
}

a#logo p span {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  font-size: 0.6rem;
  opacity: 0.5;
}

nav ul {
  padding: 0 var(--size-main-half);
  display: flex;
  list-style: none;
}

nav ul li a {
  padding: 0 var(--size-main-half);
  opacity: 0.8;
}

main {
  flex-grow: 1;
}

footer {
  padding: var(--size-main-half);
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.7;
}

footer a {
  color: var(--color-main-font);
}

.container-fit {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container-fit {
    width: 1320px;
  }
}
